h1 {
    color: red;
    background-color: #000000;
    text-align: center;
    width: 1000px;
}

a {
    color: black;
}
a:hover{
    text-decoration: none;
}

#container {
    width: 50%;
    margin: auto;
    background-color: grey;
    color: hotpink;
}

#container h2 {
    text-align: center;
    color: red;
    padding-top: 50px;
    border: 3px solid black;

}

#container p {
    color: blue;
}

#container .violet {
    color: purple;
    text-align: right;
    
}

.mainBox {
    display: flex;
    flex-direction: column;
}

.boxEnfant{
    margin-left: 1%;
}

.mainBox2 {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
}

.mainBox3 {
    margin-top: 3%;
    display: flex;
    flex-flow: column wrap;
}

.mainBox4 {
    margin: auto;
    margin-top: 3%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.boxEnfant4{
    margin-left: 1%;
    flex-basis: 48%;
    flex-grow: 1;
    flex-shrink: 1;
    /*flex: 1 1 auto;
     flex: grow shrink basis*/
}

.mainBox5 {
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.boxEnfant{
    margin-left: 1%;
}